/* Mainheader */
#mainheader {
  height: 100%;
}

/* Navbar */
#navbar {
  padding-left: 70px;
}

#navbar ul {
  float: none;
}

/* What is it */
#what,
#why {
  text-align: center;
  padding: 20px;
}